<?xml version="1.0"?>
<config>
    <modules>
        <Moak_Vip>
                <version>0.1.0</version>
        </Moak_Vip>
    </modules>
    <global>
        <models>
            <moak>
                <class>Moak_Vip_Model</class>
            </moak>
        </models>          
        <events>
                <checkout_type_onepage_save_order>
                <observers>
                        <moak_observer>
                                <type>singleton</type>
                                <class>moak/observer</class>
                                <method>sendOrder</method>
                        </moak_observer>
                </observers>
                </checkout_type_onepage_save_order>     
        </events>
     </global>
</config>