<?xml version="1.0"?>
<config>
  <modules>
    <IVVYRU_Sync>
      <version>1.0.0.0</version> 
    </IVVYRU_Sync> 
  </modules>
  <global>
   <models>
      <catalog>
         <rewrite>
            <product_type_price>IVVYRU_Sync_Model_Catalog_Product_Type_Price</product_type_price> 
         </rewrite> 
      </catalog> 
   </models>
   <resources>
     <ivvyrusync_setup>
        <setup>
          <module>IVVYRU_Sync</module> 
        </setup> 
        <connection>  
          <use>core_setup</use> 
        </connection>
     </ivvyrusync_setup> 
     <ivvyrusync_write>
       <connection>  
          <use>core_write</use>
       </connection>
     </ivvyrusync_write>
     <ivvyrusync_read>
       <connection>
          <use>core_read</use> 
       </connection> 
     </ivvyrusync_read>
   </resources> 
  </global> 
  <frontend>
    <routers>
      <checkout>
        <args>
          <modules>
            <IVVYRU_Sync before="Mage_Checkout">IVVYRU_Sync_Checkout</IVVYRU_Sync>  
          </modules> 
        </args> 
      </checkout>  
    </routers> 
  </frontend>
</config>
